<div class="app-content">
  <md-toolbar color="primary">
    Hypothetical
  </md-toolbar>


  <md-card>
    <md-card-header>
      <md-card-title><h3>Baseline Taxes</h3></md-card-title>
      <!--<md-card-subtitle>Baseline...</md-card-subtitle>-->
    </md-card-header>
    <md-card-content>

      <md-input-container class="app-full-width" align="end">
        <input md-input required type="number"
               placeholder="Income($)"
               step="1000"
               [(ngModel)]="dm.baseline.income" />
      </md-input-container>

      <md-input-container class="app-full-width" align="end">
        <input md-input required type="number"
               placeholder="Adjustments to Income ($)"
               [(ngModel)]="dm.baseline.adjustmentsToIncome" />
      </md-input-container>

      <md-input-container class="app-full-width" align="end">
        <input md-input required type="number"
               placeholder="Number of Exemptions"
               [(ngModel)]="dm.baseline.numberExemptions" />
      </md-input-container>

      <md-input-container class="app-full-width" align="end">
        <input md-input required type="number"
               placeholder="Deductions ($)"
               [(ngModel)]="dm.baseline.deductions" />
      </md-input-container>

      <md-input-container class="app-full-width" align="end">
        <input md-input required type="number"
               placeholder="Tax Credits ($)"
               [(ngModel)]="dm.baseline.taxCredits" />
      </md-input-container>


      <!--<md-select required placeholder="Marital Status" [(ngModel)]="dm.baseline.maritalStatus">-->
      <!--<md-option *ngFor="let status of ['Single', 'Otherwise Disposed']" [value]="status">-->
      <!--{{status}}-->
      <!--</md-option>-->
      <!--</md-select>-->
      <div style="height:2em"></div>
      <h3>Expenses</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Amount ($)</th>
          <th></th>
        </tr>
        <tr *ngFor="let expense of dm.baselineHypothetical.baseline.expenses">
          <td>
            <md-input-container floatingPlaceholder="false">
              <input md-input [(ngModel)]="expense.name" type="text"
                     required placeholder="e.g., Rent, Mortage, Food, Tuition..."/>
            </md-input-container>
          </td>
          <td class="indent">
            $<md-input-container floatingPlaceholder="false">
            <input md-input [(ngModel)]="expense.amount" step=100 type="number"
                   required placeholder="e.g., 1200"/>
          </md-input-container>/ yr
          </td>
          <td>
            <button md-icon-button (click)="dm.baselineHypothetical.baseline.expenses.splice(index,1)">
              <md-icon color="accent">delete</md-icon>
            </button>
          </td>
        </tr>
      </table>
      <button md-button (click)="dm.baselineHypothetical.baseline.expenses.push({name:undefined,amount:undefined})">
        <i class="material-icons">note_add</i> New Expense
      </button>
      <div style="height:2.25em"></div>
      <h3>Hypothetical Scenarios</h3>
      <md-tab-group>
        <md-tab *ngFor="let h of dm.hypotheticals">
          <template md-tab-label>
            <!--<input type="text">Hello.</input>-->
            {{h.name}}
          </template>
          <md-card>
            <!--<md-card-header>-->
            <!--<md-card-title><h3>Hypotheticals</h3></md-card-title>-->
            <!--&lt;!&ndash;<md-card-subtitle>Baseline...</md-card-subtitle>&ndash;&gt;-->
            <!--</md-card-header>-->
            <md-card-content>
              <table>
                <tr>
                  <th>Name</th>
                  <th class="indent"></th>
                  <th>Amount ($)</th>
                  <th>Enabled</th>
                </tr>
                <tr *ngFor="let d of h.deltas">
                  <td>
                    <select name="name" [(ngModel)]="d.propertyId">
                      <option *ngFor="let prop of h.availableProperties()" [value]="prop.name">
                        {{prop.name}}
                      </option>
                    </select>
                  </td>
                  <td class="indent">
                    <!--<input [(ngModel)]="d.modifier" type="text"-->
                    <!--required/>-->
                    <select name="modifier" [(ngModel)]="d.modifier">
                      <option [value]='"="'>=</option>
                      <option [value]='"+"'>+</option>
                      <option [value]='"-"'>-</option>
                      <option [value]='"+ %"'>+ %</option>
                      <option [value]='"- %"'>- %</option>
                    </select>

                  </td>
                  <td class="indent">
                    <span *ngIf="(['=','+','-'].indexOf(d.modifier) >= 0)">$</span>
                    <md-input-container floatingPlaceholder="false">
                      <input md-input [(ngModel)]="d.amount" step=100 type="number"
                             required/>
                    </md-input-container>
                    <span *ngIf="(['+ %','- %'].indexOf(d.modifier) >= 0)">%</span>
                  </td>
                  <td class="indent">
                    <md-checkbox [(ngModel)]="d.enabled"></md-checkbox>
                  </td>
                  <td>
                    <button md-icon-button (click)="h.deltas.splice(index,1)">
                      <md-icon color="accent">delete</md-icon>
                    </button>
                  </td>
                </tr>
              </table>

              <button md-button (click)="h.deltas.push({propertyId: undefined, modifier: '+', amount: 0, enabled: true})">
                <i class="material-icons">note_add</i> New Delta
              </button>
            </md-card-content>
          </md-card>
        </md-tab>
      </md-tab-group>

      <button md-button (click)="newHypothetical()">
        <i class="material-icons">note_add</i> New Hypothetical
      </button>

    </md-card-content>
    <md-card-actions>
      <button md-button (click)="dm.simulateHypotheticals()">Simulate (Manual)</button>
    </md-card-actions>
  </md-card>


  <md-card>
    <md-card-header>
      <md-card-title><h3>Baseline Outcome</h3></md-card-title>
    </md-card-header>
    <md-card-content>
      <table>
        <tr>
          <th></th>
          <!--<th>Baseline</th>-->
          <th *ngFor="let h of dm.allHypotheticals()">{{h.name}}</th>
        </tr>
        <tr>
          <td class="row-label">Income</td>
          <td class="currency" *ngFor="let h of dm.allHypotheticals()">
            {{h.outcome.income | currency:'USD':true:'1.0-0' }}
          </td>
        </tr>
        <tr>
          <td class="row-label">Charges</td>
          <td></td>
        </tr>
        <tr *ngFor="let charge of dm.baselineHypothetical.outcome.charges; let chargeIndex=index">
          <td class="indent">{{charge.description}}</td>
          <td class="currency" *ngFor="let h of [dm.baselineHypothetical].concat(dm.hypotheticals)">
            <span *ngIf="h.outcome.netIncome">{{h.outcome.charges[chargeIndex].amount | currency:'USD':true:'1.0-0' }}</span>
          </td>
        </tr>
        <tr></tr>
        <tr>
          <td class="row-label">Net Income</td>
          <td class="currency" *ngFor="let h of [dm.baselineHypothetical].concat(dm.hypotheticals)">
            {{h.outcome.netIncome | currency:'USD':true:'1.0-0' }}</td>
        </tr>
      </table>
    </md-card-content>
  </md-card>

  <!--<md-card>-->
  <!--<md-card-content>-->
  <!--{{dm | json}}-->
  <!--</md-card-content>-->
  <!--</md-card>-->


</div>
