<div class="app-content">
  <!--<md-toolbar color="primary">-->
    <h2>Hypothetical</h2>
  <!--</md-toolbar>-->


  <div>
    <div>
      <h3><h3>Baseline Taxes</h3></h3>
    </div>

      <div class="app-full-width" align="end">
        <input required type="number"
               placeholder="Income($)"
               step="1000"
               [(ngModel)]="dm.baseline.income" />
      </div>

      <div class="app-full-width" align="end">
        <input required type="number"
               placeholder="Adjustments to Income ($)"
               [(ngModel)]="dm.baseline.adjustmentsToIncome" />
      </div>

      <div class="app-full-width" align="end">
        <input required type="number"
               placeholder="Number of Exemptions"
               [(ngModel)]="dm.baseline.numberExemptions" />
      </div>

      <div class="app-full-width" align="end">
        <input required type="number"
               placeholder="Deductions ($)"
               [(ngModel)]="dm.baseline.deductions" />
      </div>

      <div class="app-full-width" align="end">
        <input required type="number"
               placeholder="Tax Credits ($)"
               [(ngModel)]="dm.baseline.taxCredits" />
      </div>

      <div style="height:2em"></div>
      <h3>Expenses</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Amount ($)</th>
          <th></th>
        </tr>
        <tr *ngFor="let expense of dm.baselineHypothetical.baseline.expenses">
          <td>
            <div floatingPlaceholder="false">
              <input [ngModel]="expense.name"
                     (ngModelChange)="dm.expenseNameChange(expense, $event)"
                     type="text" required placeholder="e.g., Rent, Mortage, Food, Tuition..."/>
            </div>

          </td>
          <td class="indent">
            $<div floatingPlaceholder="false">
            <input [(ngModel)]="expense.amount" step=100 type="number"
                   required placeholder="e.g., 1200"/>
          </div>/ yr
          </td>
          <td>
            <button (click)="dm.deleteExpense(expense)">
              <span color="accent">delete</span>
            </button>
          </td>
        </tr>
      </table>
      <button (click)="dm.baselineHypothetical.baseline.expenses.push({name:undefined,amount:undefined})">
        <i class="material-icons">note_add</i> New Expense
      </button>
      <div style="height:2.25em"></div>
      <span><h3>Hypothetical Scenarios </h3></span>
      <span>
        <button (click)="newHypothetical()">
            <i class="material-icons">note_add</i> New Hypothetical
        </button>
      </span>

      <h4>Tabs</h4>
      <div class="tabs">
        <div class="tab" *ngFor="let h of dm.hypotheticals">
          <h5 class="tab-label">
            <!--<input type="text">Hello.</input>-->
            {{h.name}}
          </h5>
          <div class="card">
              <table>
                <tr>
                  <th>Name</th>
                  <th class="indent"></th>
                  <th>Amount ($)</th>
                  <th>Enabled</th>
                </tr>
                <tr *ngFor="let d of h.deltas">
                  <td>
                    <select name="name" [(ngModel)]="d.propertyId">
                      <option *ngFor="let prop of h.availableProperties()" [value]="prop.name">
                        {{prop.name}}
                      </option>
                    </select>
                  </td>
                  <td class="indent">
                    <!--<input [(ngModel)]="d.modifier" type="text"-->
                    <!--required/>-->
                    <select name="modifier" [(ngModel)]="d.modifier">
                      <option [value]='"="'>=</option>
                      <option [value]='"+"'>+</option>
                      <option [value]='"-"'>-</option>
                      <option [value]='"+ %"'>+ %</option>
                      <option [value]='"- %"'>- %</option>
                    </select>

                  </td>
                  <td class="indent">
                    <span *ngIf="(['=','+','-'].indexOf(d.modifier) >= 0)">$</span>
                    <div floatingPlaceholder="false">
                      <input [(ngModel)]="d.amount" step=100 type="number"
                             required/>
                    </div>
                    <span *ngIf="(['+ %','- %'].indexOf(d.modifier) >= 0)">%</span>
                  </td>
                  <td class="indent">
                    <input type="checkbox" [(ngModel)]="d.enabled"/>
                  </td>
                  <td>
                    <button (click)="_.pull(h.deltas, d)">
                      <span class="icon" color="accent">delete</span>
                    </button>
                  </td>
                </tr>
              </table>

              <button (click)="h.deltas.push({propertyId: undefined, modifier: '+', amount: 0, enabled: true})">
                <i class="material-icons">note_add</i> New Delta
              </button>
          </div>
          <button (click)="deleteHypothetical(h)">
            <i class="material-icons">delete</i> Delete Hypothetical
          </button>
        </div>
      </div>

      <button md-button (click)="dm.simulateHypotheticals()">Simulate (Manual)</button>
  </div>


  <div>
    <div>
      <h3><h3>Baseline Outcome</h3></h3>
    </div>
      <table>
        <tr>
          <th></th>
          <!--<th>Baseline</th>-->
          <th *ngFor="let h of dm.allHypotheticals()">{{h.name}}</th>
        </tr>
        <tr>
          <td class="row-label">Income</td>
          <td class="currency" *ngFor="let h of dm.allHypotheticals()">
            {{h.outcome.income | currency:'USD':true:'1.0-0' }}
          </td>
        </tr>
        <tr>
          <td class="row-label">Charges</td>
          <td></td>
        </tr>
        <tr *ngFor="let charge of dm.baselineHypothetical.outcome.charges; let chargeIndex=index">
          <td class="indent">{{charge.description}}</td>
          <td class="currency" *ngFor="let h of [dm.baselineHypothetical].concat(dm.hypotheticals)">
            <span *ngIf="h.outcome.netIncome">{{h.outcome.charges[chargeIndex].amount | currency:'USD':true:'1.0-0' }}</span>
          </td>
        </tr>
        <tr></tr>
        <tr>
          <td class="row-label">Net Income</td>
          <td class="currency" *ngFor="let h of [dm.baselineHypothetical].concat(dm.hypotheticals)">
            {{h.outcome.netIncome | currency:'USD':true:'1.0-0' }}</td>
        </tr>
      </table>
  </div>

  <!--<p>-->
  <!--{{dm | json}}-->
  <!--</p>-->

</div>
