/* You can add global styles to this file, and also import other style files */

/* Prebuilt Angular theme, see https://material.angular.io/guide/theming for more info. */
//@import '~@angular/material/core/theming/prebuilt/purple-green.scss';


@import '~@angular/material/core/theming/all-theme';

// NOTE: Theming is currently experimental and not yet publically released!

@include md-core();

$primary: md-palette($md-green);
$accent:  md-palette($md-blue-grey);

$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);

